name: Kinopoisk deploy

on:
  push:
    branches:
      - main  
      - develop 
jobs:
  deploy:
    name: Deploy MyApp
    #needs: tests-act 
    runs-on: ubuntu-latest
    steps:
      - name: Pull code 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }} 
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: cd /home/ubuntu/backend/2025_2_DavaiDavaiDeploy && git stash && git pull 
      - name: Build containers 
        uses: appleboy/ssh-action@master
        with:
          timeout: 10m
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: cd /home/ubuntu/backend/2025_2_DavaiDavaiDeploy && sudo docker compose build
      - name: Restart service 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: cd /home/ubuntu/backend/2025_2_DavaiDavaiDeploy && sudo docker compose down -v && sudo docker compose up -d --build
